* {
box-sizing: border-box;
margin: 2vmin 2vmin 2vmin 2vmin;

 }


 body{
    background-color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 4vmin;
    color: rgb(48, 112, 122)
 }

 header {
    font-size: 7vmin;
    color: rgb(21, 79, 83);
    text-align: center;
 }

 
 
 #pic {
    
    display: flex;
    justify-content: center;
    
 }
 #blank-spaces {
   font-size: 7vmin;
   display: flex;
   justify-content: space-evenly;

 }

 #alphabets {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1vmin;
   
 }
 
 
#alphabets > button{
   background-color: teal;
   font-size: 6vmin;
   display: flex;
   justify-content: space-evenly;
   border-radius: 20%;
   font-family: 'Nanum Pen Script', cursive;
   
}

 
#new-game{
   background-color: rgb(246, 188, 74);
   font-size: 6vmin;
   font-family: 'Nanum Pen Script', cursive;
}

#new-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width:100%
}
